%container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.top {
  @extend %container;
  top:15px;
  position: fixed;
}

.middle {
  @extend %container;
  top:40vh;
}

.text {
  color:cadetblue;
}